<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= article.name %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p>
    <strong>Publish:</strong>
    <%= article.publish %>
  </p>

  <br />

  <% if article.image.content_type.in?(%w[image/jpeg image/png image/jpg]) %>
    <%= link_to image_tag(article.image_as_thumbnail),
      article.image if
      article.image.attached? %>
  <% end %>
</div>
