<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>
<div class="container" style="padding:10px 20px 25px 0">
</div>
<%= link_to "New article", new_article_path %>
<td>
  <% if article.image? %>
  <div class="message-image-container">
    <%= link_to image_tag(article.image, style:"width:60px; heigh:60px"), article.image %>
  </div>
  <% end %>
</td>
<td style="width:30px; heigh:auto"></td>
