<div class="container">
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>
</div>
<div class="1container">
  <h3><%= @article.title %></h3>
  <h4><%= @article.name %></h4>  <h5<%= @article.publish %></h5>
  <div id="navbar" class="1collapse">
    <ul class="nav navbar-nav">
       <li class="">
        <p style="width:310px; heigh:310px">
          <%= image_tag(@article.image, style:"width:300px; heigh:300px") %>
        </p>
      </li>
     <li class="">
        <p style="width:400px; heigh:200px">
          <%= @article.body %>
        </p>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
