<div class="container">
  <h1>Posts</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th style="width:10px; heigh:auto"></th>
        <th>Body</th>
        <th style="width:10px; heigh:auto"></th>
        <th colspan="3"></th>
     </tr>
   </thead>
   <tbody>
     <% @posts.each do |post| %>
       <tr style="padding:10px 20px 25px 0">
         <td><%= post.title %></td>
         <td style="width:30px; heigh:auto"></td>
         <td style="padding-top:10px; padding-right:0px; padding-bottom:20px; padding-left:0"><%= truncate(strip_tags(post.body.to_s), length: 80) %></td>          <td style="width:30px; heigh:auto"></td>
         <td><%= link_to 'Show', post %></td>
         <td style="width:7px; heigh:auto"></td>
         <td><%= link_to 'Edit', edit_post_path(post) %></td>
       </tr>
     <% end %>
    </tbody>
  </table>
  <br>
</div>
<div class="container">
  <%= link_to 'New Post', new_post_path %>
</div>
